﻿@model MobilePhones.Models.Phone

@{
    ViewData["Title"] = "Download";

}
<h1>Download</h1>

<div>
    <h4>Phone</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company)

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
            @using System.IO
            @{
                string MainInfo = $"{Model.Name}, {Model.Country}, {Model.Company}, {Model.Price}";
                File.WriteAllText("MyFiles/Phones.txt", MainInfo);
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="ConfirmedDownload">Click Here to Download | </a>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
