﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Geometry</h1>

<h4>Rectangle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/Geometry/Square" method="post">

            <div class="form-group">
                <label class="control-label" for="width">width</label>
                <input class="form-control" type="text" id="width" name="width" value="" />
            </div>
            <div class="form-group">
                <label class="control-label" for="heigth">height</label>
                <input class="form-control" type="text" id="height" name="height" value="" />
            </div>

            <div class="form-group">
                <label class="control-label" for="str">str</label>
                <input class="form-control" type="text" id="str" name="str" value="" />
            </div>

            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>
