﻿@{
    ViewData["Title"] = "Geometry Page";
}
@model IEnumerable<Rectangle>

@foreach (var item in Model)
{

    <div class="row">
        <div class="col-sm-6">Width: @Html.DisplayFor(modelItem => item.Width)</div>
        <div class="col-sm-6">Height: @Html.DisplayFor(modelItem => item.Height) </div>
        </div>

        }
